.tabPanel {

}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected.rewardTab {
    background: black !important;
    color: white;
}

@media only screen and (max-width:765px){
    .tabPanel {
        overflow-x: scroll;
    }
    .tabPanelItem {
        width: 700px;
    }
}