.modal-pic {
    width: 450px !important;
    height: 300px ;
}
td{
    text-align: center;
}


.viewBtn {
   
    background-color: blue !important;
    color: white !important;
    width: 20px !important;
    margin: 0px 10px !important;
}
.btn {
    font-size: 12px !important;

}
.viewStatus {
    
    background-color: #FF0076 !important;
    color: white !important;
}
@media only screen and (max-width:765px){
    .modal {
        width: 400px !important;
    }
    .modal-pic {
        width: 100% !important;
        height: 300px;
    }
}
@media only screen and (max-width:425px){
    .css-heg063-MuiTabs-flexContainer {
        overflow: scroll !important;
    }
    .modal {
        width: 250px !important;
    }
    .modal-pic {
        width: 100% !important;
        height: 300px;
    }
}