.toggle-container {
    width: 60px;
    position: relative;
    height: 30px;
    /* border-radius: 20px; */
    background:  black;
    border: 2px solid black;
    text-align: right;
    color: white;
    cursor: pointer;
}
.toggle-container-active {
    background: green;
    border: 2px solid green;
    width: 60px;
    position: relative;
    height: 30px;
    
    text-align: right;
    color: white;
    cursor: pointer;


}
.toggle-container p, .toggle-container-active p {
    font-size: 17px;
}
.toggle-ball {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 100%;
    background: #ffffff;
    transform: all 1s;
}
.toggle-right{
    right: 0;
    position: absolute;
    top: 0;
    width: 30px;
    height: 100%;
    transform: all 1s ease in;

    background: white;
}
th {
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
    padding: 10px;
    background-color: yellow;
    border-right: 1px solid white;
}
.options-menu {
    position: absolute;
    top: 100%;
    left: -50%;
}
.campaign-row td {
    padding: 15px 0px;
    font-size: 12px;
}
.actionBtn {
    background-color: red;
    padding: 5px 10px ;
    border-radius: 5px;
    color: white;
}